@media (min-width: 64em) {
  .usa-header + .usa-section,
  .usa-header + main {
    border-top: none !important;
  }
}

.site-header .usa-nav__link {
  display: block;
  height: 100%;
  align-content: center;
  text-decoration: none;
  border-bottom: 2px transparent solid;
  &:hover,
  &:focus,
  &:visited,
  &.usa-current {
    border-bottom: 2px #ffffff solid;
  }
}

header a:visited {
  color: #fff;
}
