.home-breadcrumb {
  position: relative;
  padding-left: 28px;
  .home-icon {
    position: absolute;
    top: -1px;
    left: 0;
  }
}

.usa-breadcrumb__list-item.usa-current {
  color: #8e98bf;
}

.usa-breadcrumb__link:visited,
.usa-breadcrumb__link:hover,
.usa-breadcrumb__link:focus {
  color: #ffffff;
}
