// 1. Load USWDS settings
@forward "uswds-settings.scss";

// 2. Load USWDS source code
@forward "uswds";

// 3. Load extra utility files & helpers.
@use "./utilities/mixins.scss" as mixin;

// 3. Load custom Sass
@forward "project-styles.scss";

$goals-gray: rgba(202, 204, 216, 1);
$ink: #1b1b1b;

a {
  @include mixin.universal-link-styles;
}

.goal-card {
  min-width: 360px;
  max-width: 400px;
}

.goal-card a {
  text-decoration: none;
}

.goal-card .usa-card {
  margin-bottom: 0 !important;
}

.container-open {
  padding-left: 394px;
}

.goal-card .usa-card__container {
  border-width: 1px;
}

.usa-card__footer {
  padding-left: 0;
  padding-right: 0;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.goal-card:hover .usa-card__container {
  border-color: $ink;
}

.side-bar {
  background-color: white;
  min-height: 100%;
  width: 394px;
  max-width: 394px;
  padding: 24px;

  a {
    color: mixin.$goalsblue-dark;

    &:visited {
      color: mixin.$goalsblue;
    }
  }
}

.filter-bar {
  padding: 0 24px 24px;
  border-right: 1px solid $goals-gray;
  position: absolute;
  top: 0;
  left: 0;
}

.close-button {
  appearance: none;
  border: 0px;
  cursor: pointer;
  background: transparent;
}

.filters-closed {
  display: none;
}

.content-area {
  flex: 1;
}

.hero {
  background-color: #09102a;
  background-size: 20px 30px;
  background-image: linear-gradient(
      to right,
      rgba(217, 217, 217, 0.1) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(217, 217, 217, 0.1) 1px, transparent 1px);
}

.search-goals {
  &--container {
    border-bottom: 1px solid $goals-gray;
  }
  &--filter {
    border: 1px solid $goals-gray;
  }
  &--wrapper {
    position: relative;
    display: flex;
    width: 100%;
    input {
      padding-left: 3em;
      height: 2.5em;
      flex: 1;
      width: 100%;
      border: 1px solid $goals-gray;
      outline: none;
    }
    button {
      position: absolute;
      top: 0;
      left: 0;
      border: none;
      background-color: transparent;
      cursor: pointer;
    }
  }
  &--administration {
    border: 1px solid $goals-gray;

    /* Arrow */
    appearance: none;
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23131313%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    background-position: right 0.5em top 50%;
    background-size: 0.65em auto;
  }

  &--toggle {
    margin: 0 auto;

    // 30em = mobile-lg breakpoint for USWDS. Source: https://designsystem.digital.gov/utilities/layout-grid/#responsive-variants.
    @media (min-width: 40em) {
      display: flex;
      gap: 4px;
    }

    > li {
      display: inline-block;
      width: auto;
    }
    .active {
      background: white;
      &:hover {
        background: white;
      }
    }
  }
}

.hr-lines {
  position: relative;
  text-align: center;
  &:before {
    content: " ";
    display: block;
    height: 1px;
    width: 500px;
    position: absolute;
    top: 50%;
    left: -525px;
    background: $goals-gray;
  }
  &::after {
    content: " ";
    height: 1px;
    width: 500px;
    background: $goals-gray;
    display: block;
    position: absolute;
    top: 50%;
    right: -500px;
  }
}
