# Copy this file to `.env` and update the default values for PGOV development.

# Obtain a personal access token at https://airtable.com/create/tokens while
# logged in as a sufficiently-permissioned user.
#    Scopes should include:
#      data.records:read
#      schema.bases:read
AIRTABLE_API_KEY=""

# See https://next-drupal.org/docs/environment-variables
NEXT_PUBLIC_DRUPAL_BASE_URL=https://performance.ddev.site
NEXT_IMAGE_DOMAIN=performance.ddev.site

# Authentication for the NextJS App
DRUPAL_CLIENT_ID=
DRUPAL_CLIENT_SECRET=

